/*------------
 Font style 
 ------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 body{
    font-family: 'Poppins', sans-serif;
 }
 main{
    margin: 100px 100px;
 }
 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* ------------
 header-section 
 ---------------*/
 .tournament-discription{
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    padding: 0 100px;
    height: 500px;
 }
 .tournament-name{
    font-size: 64px;
    color: #FFFFFF;
    width:500px;
 }
 .watch-button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px;
    border: 3px solid #E02C6D;
 }
 .background-1{
     height: 300px;
     width: 350px;
     border: 2px solid white;
     border-radius: 0 80px 0 0;
     position: relative;
     top: 40px;
     left: 20px;
 }
 .background-2{
     height: 300px;
     width: 350px;
     border: 2px solid #3DBAFD;
     border-radius: 0 80px 0 0;
     background-color: #3DBAFD;
     position: relative;
     top: -250px;
     right: 3px;
 }
 .background-3{
    position: relative;
    top: -550px;
}
 .background-3 .logo-player{
    width: 400px;
    height: 350px;
    position: relative;
    transition: transform .3s ease-in;
 }
.background-4{
    font-size: 50px;
    color:black;
    position: relative;
    top: -830px;
    transition: transform .3s ease-out .3s;
}
header:hover .logo-player{
    transform: rotate(30deg);
}
header:hover .background-4{
    transform: translate(-80px,-80px);
}
 /* ------------
 player section 
 --------------*/
 .players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap:20px;
 }
 .player{
     padding: 15px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .player-image img{
     width: 300px;
     height: 256px;
 }
 .player-detail{
     width: 300px;
 }
 .player-title{
    color: #18191F;
    font-size: 28px;
 }
 .player-info{
    color: #6C6C6C;
 }
 /* ---------------
 Footer section 
 -----------------*/

 .social-icon a{
     color:blueviolet;
     font-size: 24px;
 }
 /* ---------------
 Media query 
 -----------------*/
 /* ---------------
 For Mobile(Galaxy S5)
 -----------------*/
 @media only screen and (max-width:688px) {
    .tournament-discription{
         grid-template-columns:repeat(1 , 1fr);
         height: 1000px;
         width: 500px;
     }
     .players{
         grid-template-columns: repeat(1 , 1fr);
     }
     main{
         margin: 100px 180px;
     }
     footer{
         width: 500px;
         margin: 0 80px;
     }
     
 }
 /* ----------------
 For tablet(iPad)
 ------------------*/
 @media only screen and (min-width:688px) and (max-width:992px) {
    .tournament-discription{
         grid-template-columns:repeat(1 , 1fr);
         height: 1000px;
         padding-left: 200px;
     }
     .players{
         grid-template-columns: repeat(2 , 1fr);
     }
     main{
        margin: 100px 30px;
     }
     
 }